# OpenAI兼容协议的LLM配置
# BASE_URL="http://127.0.0.1:1234/v1/chat/completions"
# MODEL="qwen3.5-9b"
# API_KEY="your_api_key_here"


BASE_URL="https://openrouter.ai/api/v1"
MODEL="qwen/qwen3-coder:free"
API_KEY="your_api_key_here"
ENDPOINT="/chat/completions"
ANYTHINGLLM_API_KEY="your_anythingllm_api_key_here"
ANYTHINGLLM_WORKSPACE_SLUG="your_workspace_slug_here"